name: Build and Deploy
on:
  push:
    branches:
      - main

jobs:
  deploy:
    name: Build and Deploy
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Checkout Repo
        uses: actions/checkout@main
      - name: Set Node.js 18.x
        uses: actions/setup-node@v3
        with:
          node-version: 18.x
      - name: Install Dependencies
        run: npm install  --ignore-peer --force
      - name: Build
        run: npm run build
      - name: Deploy to Firebase
        uses: w9jds/firebase-action@v12.8.0
        with:
          args: deploy --project ${{ secrets.GCP_PROJECT }} --only hosting:${{ secrets.GCP_APPLICATION }}
        env:
          GCP_SA_KEY: ${{ secrets.GCP_SA_KEY }}
